.navbar{
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0,0,0,0))
}

.title-navbar span{
    color: rgb(255, 255, 255);
}

.title-navbar{
    font-size: 35px;
}

.title-navbar:hover{
    color: #F5C542;
}

.navbar-brand{
    color: #F5C542;
}

.nav-link{
    transition: .3s;
    position: relative;  
    display: inline-block;
    color: #fff;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
}

.nav-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background: #F5C542;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .3s;
}

.nav-link:hover::after{
    transform: scaleX(1);
}

.btn-login {
    background-color: transparent;
    transition: .3s;
}

.btn-login:hover {
    background-color: #F5C542;
    color: #000;
    border-color: #F5C542;
}

.navbar-toggler{
    background-color: #F5C542;
}